$color-secondary: #02aab0bd;
$color-primary: #00cdabc4;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #999;

$color-black: #000;
$color-black-light: #434343;

$color-orange-light: #ffc837;
$color-orange-dark: #ff8008;

$color-blue-light: #89f7fe;
$color-blue-dark: #66a6ff;

$color-green-light: #00b09b;
$color-green-dark: #96c93d;
