.form {
  &-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &-input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #fff;
    display: block;
    width: 90%;
    border-bottom: 0.4rem solid transparent;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 0.4rem solid $color-secondary;
    }

    &:focus:invalid {
      border-bottom: 0.4rem solid $color-orange-dark;
    }

    &::placeholder {
      color: $color-grey-dark;
    }
  }

  &-label {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.7rem;
    transition: all 0.3s;
  }

  &-input:placeholder-shown ~ &-label {
    opacity: 0;
    transform: translateY(-4rem);
    visibility: hidden;
  }

  &-radio-group {
    display: inline-block;
    width: 49%;
    margin: 0;
  }

  &-radio-input {
    display: none;
  }

  &-radio-input:checked ~ &-radio-label &-radio-button::after {
    opacity: 1;
  }

  &-radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    display: block;
    height: 3rem;
    padding-left: 4rem;
  }

  &-radio-button {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid $color-primary;
    border-radius: 50%;
    position: absolute;
    top: -0.3rem;
    left: 0;

    &::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-color: $color-primary;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}
