.section-booking {
  padding: 15rem 20rem;
  background: linear-gradient(
    to right bottom,
    $color-secondary,
    $color-primary
  );

  @include response(-tabLand) {
    padding: 10rem 15rem;
  }

  @include response(-phone) {
    padding: 3rem 3rem;
  }
}

.booking {
  background-image: linear-gradient(
      103deg,
      rgba($color-grey-light-1, 0.7) 0%,
      rgba($color-grey-light-1, 0.7) 50%,
      transparent 50%
    ),
    url("../images/booking-background.jpg");
  background-size: 100%;
  border-radius: 0.3rem;
  height: 50rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  &-form {
    width: 50%;
    padding: 6rem;

    @include response(-phone) {
      width: 70%;
      padding: 3rem;
    }
  }
}
