.navigation {
  &-checkbox {
    display: none;
  }

  &-checkbox:checked ~ &-background {
    transform: scale(55);
  }

  &-checkbox:checked ~ &-nav {
    opacity: 1;
    width: 100vw;
  }

  &-checkbox:checked ~ &-button &-icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &-checkbox:checked ~ &-button &-icon::after {
    transform: rotate(-135deg);
    top: 0;
  }

  &-checkbox:checked ~ &-button &-icon {
    background-color: transparent;
  }

  &-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    opacity: 0;
    width: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &-item {
    list-style: none;
  }
  &-link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 3.5rem;
      color: #fff;
      padding: 1rem 2rem;
      background: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 300%;
      transition: all 0.4s;
      backface-visibility: hidden;

      &:hover {
        background-position: 100%;
        color: $color-secondary;
        transform: translateX(1rem);
      }
    }
  }
  &-button {
    background-color: #fff;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1200;
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    @include response(-tabPort) {
      top: 4.7rem;
      right: 4.7rem;
    }
  }

  &-icon {
    position: relative;
    margin-top: 3.3rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.2rem;
      background-color: $color-black-light;
      display: inline-block;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &-button:hover > &-icon::before {
    transform: translateY(-0.2rem);
  }
  &-button:hover > &-icon::after {
    transform: translateY(0.2rem);
  }

  &-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: radial-gradient($color-green-dark, $color-green-light);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;

    z-index: 1000;
    transition: transform 0.4s;
    @include response(-tabPort) {
      top: 5rem;
      right: 5rem;
    }
  }
}
