.section-tour {
  background-color: $color-grey-light-1;
  padding: 20rem 0 10rem 0;
  margin-top: -5vh;

  @include response(-tabLand) {
    padding: 10rem 0 5rem 0;
  }
}
.tour-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include response(-phone) {
    flex-direction: column;
  }
}
